@tailwind base;
@tailwind components;
@tailwind utilities;

.slider .swiper-wrapper{
  padding-bottom: 40px;
}

@media screen and (max-width: 1024px) {
  .aboutSlider .swiper-wrapper{
    height: 70vh;
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 500px) {
  .aboutSlider .swiper-wrapper{
    height: 30vh;
    padding-bottom: 20px;
  }
}


::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: #414398;
}